$border-radius-sm: .5rem;  
$border-radius-asa: 1.3rem;  

.radius {
    border-radius: $border-radius-asa; ;
}

.radius-sm {
    border-radius: $border-radius-sm; ;
}

.kkSum {
    float: right;
}

.kkSum::after {
  content: " uzs";
}
